<div class="regbody" id="content">
  <h2 align="center">Sign Up</h2>
      <br>
       <form novalidate ng-submit="userCtrl.register()" class="form col-sm-offset-4 col-sm-4" name="regform">
         <div class="form-group row">
           <input type="text" name="firstname" value="" ng-model="userCtrl.user.firstname" class="form-control col-sm-12" placeholder="First Name" required="true" pattern="[a-z]{4,}">

           <div ng-show="regform.firstname.$touched">
             <!-- <span ng-show="regform.firstname.$error.required">Enter the name</span> -->
             <span ng-show="regform.firstname.$invalid">Only small characters. min 4 characters</span>
           </div>
         </div>

         <div class="form-group row">
           <input type="text" name="lastname" value="" ng-model="userCtrl.user.lastname" class="form-control col-sm-12" placeholder="Last Name" required="true" pattern="[a-z]{4,}">
           <div ng-show="regform.lastname.$touched">
             <!-- <span ng-show="regform.lastname.$error.required">Enter Last Name</span> -->
             <span ng-show="regform.lastname.$invalid">Only small characters. min 4 characters</span>
           </div>
         </div>
         <div class="form-group row">
           <input type="text" name="email" value="" ng-model="userCtrl.user.email" class="form-control col-sm-12" placeholder="Email" required="true" ng-blur="userCtrl.emailExisted()">
           <div ng-show="regform.email.$touched">
             <!-- <span ng-show="regform.firstname.$error.required">Enter the name</span> -->
             <span ng-show="regform.email.$invalid">Only small characters. min 4 characters</span>
           </div>
         </div>
         <div class="form-group row">
           <input type="text" name="mobile" value="" ng-model="userCtrl.user.mobile" class="form-control col-sm-12" placeholder="Mobile" required>
         </div>
         <div class="form-group row">
           <input type="text" name="username" value="" ng-model="userCtrl.user.username" class="form-control col-sm-12" placeholder="Username" required>
         </div>
         <div class="form-group row">
           <input type="password" name="password" value="" ng-model="userCtrl.user.password" class="form-control col-sm-12" placeholder="Password" required>
         </div>
         <div class="form-group row">
           <input type="password" name="confirmpassword" value="" ng-model="userCtrl.user.confirmpassword" class="form-control col-sm-12" placeholder="Confirm Password" required>
         </div>
         <div class="form-group row">
           <input type="text" name="role" ng-init="userCtrl.user.role='student'" ng-model="userCtrl.user.firstname" class="form-control col-sm-12" hidden="true" required>
         </div>
         <div align="center">
           <input type="submit" value="Register" class="btn btn-primary"/>
         </div>


       </form>
</div>
