<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portal</title>
    <!--  linking bootstrap css --->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app/styles/style.css">

    <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>

  <script src="bower_components/angular/angular.js" charset="utf-8"></script>
<script src="bower_components/angular-route/angular-route.js" charset="utf-8"></script>
   <!-- portalmodule script file -->
    <script src="app/portalmodule.js" charset="utf-8"></script>
    <!-- UserModule script -->
    <script src="app/user/usercontroller.js" charset="utf-8"></script>




  </head>
  <body ng-app="PortalModule">

<div id="wrapper" class="container-fluid">
  <div class="" id="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h2>Portal</h2>
          </div>
          <div class="col-xs-12 col-md-6">
            <nav class="nav menu" ng-controller="NavigationController as navCtrl">
              <a ng-hide='!navCtrl.existingUser' ng-click="navCtrl.userController(false)" class="nav-link" href="#!/register">Register</a>
              <a ng-hide='navCtrl.existingUser' ng-click="navCtrl.userController(true)" class="nav-link" href="#!/login">Login</a>

            </nav>
          </div>
        </div>
      </div>
  </div>
   <ng-view></ng-view>

   <div class="container-fluid" id="footer">
     This is footer
   </div>
 </div>
  </body>
</html>
